body{

font-family:Arial, Helvetica, sans-serif;
padding: 20px;


}

h1, h2 {
  color: #333;
}

img {
  width: 200px;
  border-radius: 8px;
}


.box {
  margin-top: 20px;
  padding: 15px;
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 6px;
}