/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* BODY */
body {
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #eee;
}
.menu-icon {
    font-size: 24px;
    cursor: pointer;
}
/* MAIN LAYOUT */
.container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}
.card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.btns button {
    padding: 10px 14px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* ----------------------------- */
/* RESPONSIVE */
/* ----------------------------- */

/* MOBILE */
@media (max-width: 600px) {
    .card {
        max-width: 90%;
    }
}

/* TABLET */
@media (min-width: 600px) and (max-width: 900px) {
    .card {
        max-width: 70%;
    }
}

/* DESKTOP */
@media (min-width: 900px) {
    .container {
        padding-top: 80px;
    }
}